*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(203, 245, 250);
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: rgb(21, 21, 63);
}

form {
    width: 350px;
    margin: 10px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 80px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    gap: 7px;
}

label {
    font-weight: bold;
    color: #444;
}

input {
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 12px;
    color: red;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #2d84f7;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #1555a7;
}


a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #0e1857;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 18px;
}

.alerta {
    padding:10px;
    margin-bottom: 15px;
    border-radius: 4px;
}



.alerta.error {
    background-color: #ffb3b3;
    color:#900;
    border:1px solid #cc0000;


}