*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(203, 245, 250);
}
h1{
    color: rgb(9, 9, 60);
    text-align: center;
}
table {
    background-color: antiquewhite;
    border-collapse: collapse;
    width: 90%;
    margin: 8px auto;
    }
th, td {
    border: 1px solid #b6b4b4;
    padding: 4px;
    text-align: left;
    }
th {
    background-color: #ddd;
    text-align: center;
    }


td.boton-editar-eliminar a {
    display: flex;
    justify-content: center;              
    color: #444;                 
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.acciones {
    display: flex;
    gap: 10px;        
    justify-content: center;
    align-items: center;
}

.editar:hover {
    color: #fd750d;             
    font-size: 17px;       
}
.eliminar:hover {
    color: #eb0703;             
    font-size: 17px;       
}


td.numero{
    text-align: center;}

a.volver{
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #0e1857;
    font-weight: bold;
}

a.volver:hover {
    text-decoration: underline;
    font-weight: bolder;
    font-size: 18px;
}