<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CLUB</title>
</head>
<body>
    <main>
        <div class="titulo">
            <h1>Sistema de Inscripción Club</h1>
        </div>
        <div class="boton">
            <a href="/ver">Ver listado de Socios del Club.</a>
        </div>
        <div class="boton">
            <a href="/agregar">Alta de Socio</a>
        </div>
        
    </main>
    
       
</body>
</html>